@import url('../../index.css');

body {
    background: linear-gradient(135deg, #8a2be2, #793ee6, #00bfff,#8a2be2);
    background-size: 400% 400%;
    animation: block-background 30s ease-in-out infinite;
}

form {
    background-color: #333;
}

legend{
    float:none;
}

legend,
fieldset {
    background-color: #444;
}

input[type=text],
input[type=password]{
    border: #FF4500 solid 2px;
}

input[type=text]:focus,
input[type=password]:focus {
    border: #8A2BE2 2px solid;
    outline: white 1px solid;
}

#password{
    width: 85%;
}

div > img{
    width: 15%;
    height: 50px;
    cursor: pointer;
    margin-left: -5px;

    position: relative;
    top:-4px;

    border: #FF4500 solid 2px;
    border-left: none;

    transition: all 0.5s;
}

.hidePass{
    content: url("../../SERVER/PQCMS/images/hidePass.svg");
    background-color: #8A2BE2;
}

.showPass{
    content: url("../../SERVER/PQCMS/images/showPass.svg");
    background-color: #e9ecef;
}
/* 
@keyframes block-background {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */