#main-element {
    min-height: 100vh;
}

/*label {*/
/*    margin: 10px 0;*/
/*}*/

body {
    background: linear-gradient(135deg, #8a2be2, #793ee6, #00bfff,#8a2be2);
    background-size: 400% 400%;
    animation: block-background 30s ease-in-out infinite;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#main-link > img {
    height: 50px;
    font-size: 40px!important;
}

#site-container {
    position: relative;
    min-height: 100vh;
}

form, div[class=result] {
    background-color: #333;
    padding: 30px;
    border-radius: 20px;
    font-size: 20px;
}

legend{
    float:none;
}

legend,
fieldset {
    background-color: #444;
}

input[type=text],
input[type=password]{
    border: #793ee6 solid 2px;
    height: 50px;
}

input[type=text]:focus,
input[type=password]:focus {
    border: #8A2BE2 2px solid;
    outline: white 1px solid;
}

#password {
    width: 85%;
}

div > img {
    width: 15%;
    height: 50px;
    cursor: pointer;

    border: #793ee6 solid 2px;
    border-left: none;

    transition: all 0.5s;
}

.hidePassword {
    background-color: #8A2BE2;
}

.showPassword {
    background-color: #e9ecef;
}